APP_DEBUG = trueDB_DRIVER = mysqlDB_TYPE = mysqlDB_HOST = 127.0.0.1DB_NAME = dbnameDB_USER = dbuserDB_PASS = dbpassDB_PORT = 3306DB_CHARSET = utf8DB_PREFIX = sys_SQLITE_PREFIX = sys_CAHCE_TYPE = fileREDIS_HOST = 127.0.0.1REDIS_PORT = 6379REDIS_PASS =REDIS_SELECT = 0DEFAULT_LANG = zh-cnJWT_KEY = 20230718-2020-4012-3456-111122223333WX_APP_ID = wx123456789012345678906cccWX_APP_SECRET = 12345678901234567890123456789012