.DS_Store
/.idea
/.vscode
/vendor
*.log
.env
composer.lock
/addons/*
!/addons/cron
/addons/cron/task/*
!/addons/cron/task/.gitkeep
!/addons/generator
!/addons/apidoc
!/addons/smsbao
!/addons/qiruisms
!/addons/hwsms
!/addons/alisms
!/addons/qcloudsms
!/addons/kdniao
/runtime
